<p id="notice"><%= notice %></p>

<p>
  <strong>No artista:</strong>
  <%= @artist.no_artista %>
</p>


<%= link_to 'Nuevo', new_artist_path , :class => 'btn btn-default'%> | 
<%= link_to 'Editar', edit_artist_path(@artist), :class => 'btn btn-default'%> |
<%= link_to 'Regresar', artists_path, :class => 'btn btn-default'%>
