<p id="notice"><%= notice %></p>

<h1>Lista Usuarios</h1>

<input type="text" id="search" placeholder="Búsqueda" class="form-control"></input>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">

  <thead>
    <tr>
      <th>Email</th>
      <th>Rol</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
        <td><%= link_to 'Ver', user %></td>
        <td><%= link_to 'Editar', edit_user_path(user) %></td>
        <td><%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>

<br>
<!-- 
<%= link_to 'New User', new_user_path %> -->



  <script type="text/javascript">
    
    $("#search").on("keyup", function() {
      var value = $(this).val();

      $("table tbody tr").each(function(index) {
          if (index !== 0) {

              $row = $(this);

              var id = $row.find("td:first").text();

              if (id.indexOf(value) !== 0) {
                  $row.hide();
              }
              else {
                  $row.show();
              }
          }
      });
  });
  </script>