<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= @song.artist.no_artista %>
</p>

<p>
  <strong>No cancion:</strong>
  <%= @song.no_cancion %>
</p>

<%= link_to 'Nuevo', new_song_path , :class => 'btn btn-default'%> |
<%= link_to 'Editar', edit_song_path(@song) , :class => 'btn btn-default'%> |
<%= link_to 'regresar', songs_path , :class => 'btn btn-default' %>
