<%- model_class = Reservation -%>

<div class="page-header">

 

<%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>


</div><table class="table table-striped table-bordered table-hover">

  <thead>

    <tr>

      <th>ID</th>

      <th>Fecha de reserva</th>

      <th>Lugares</th>

      <th>Estado</th>

      <th>Espera</th>

      <th>Fecha creación</th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>

    </tr>

  </thead>

  <tbody>

    <% Reservation.from_user(current_user).uncancelled.each do |reservation| %>

      <tr>

        <td><%= link_to reservation.id, reservation_path(reservation) %></td>

        <td><%= reservation.reserved_at %></td>

        <td><%= reservation.seats %></td>

        <td><%= reservation.status.titleize %></td>

        <td><%= reservation.waiting_allowed %></td>

       <td><%=l reservation.created_at %></td>

        <td>

          <%= link_to t('.destroy', :default => 'Cancel'), reservation_path(reservation),  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger' %>

        </td>

      </tr>

    <% end %>

</tbody>

</table>
<%= link_to t('.new', :default => t("helpers.links.new")), new_reservation_path, :class => 'btn btn-primary' %>

